@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "添加图书";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div ng-controller="BookAddController" ng-cloak>
    <div class="large-margin-top" style="font-size:30px; color:#6E4E3C"><b>添加图书</b></div>
    <p style="font-size:13px;color:#666;" class="margin-top">上传一本你觉得不错的图书，分享给更多的小伙伴· · · · · ·</p>
    <hr />
    <div class="form-group">
        <label for="title">书名</label>
        <input id="title" required type="text" class="form-control" placeholder="书名" ng-model="vm.Title" />
    </div>
    <div class="form-group">
        <label for="originTitle">原书名</label>
        <input id="originTitle" required type="text" class="form-control" placeholder="原书名" ng-model="vm.OriginTitle" />
    </div>
    <div class="form-group">
        <label for="originTitle" required>作者</label>
        <input id="originTitle" type="text" class="form-control" placeholder="作者" ng-model="vm.OriginTitle" />
    </div>
    <div class="form-group">
        <label for="originTitle">翻译者</label>
        <input id="originTitle" type="text" class="form-control" placeholder="翻译者" ng-model="vm.OriginTitle" />
    </div>
    <div class="form-group">
        <label for="summary">简介</label>
        <textarea class="textarea" id="summary"  ng-model="content" placeholder="添加内容" rows="8"></textarea>
    </div>
    <div class="form-group">
        <label for="image">图书封面</label>
        <input type="file" id="image" required />
    </div>
    <button type="submit" class="btn btn-default float-right">保存</button>
</div>
<script src="~/Scripts/controllers/book.add.controller.js"></script>
<script src="~/Scripts/services/book.service.js"></script>